
{% extends "layout.html" %}
{% block body %}

<h2>A list of all games entered:</h2> 
{% for game in all_games %}
<p>
    {{ game.game_date }}: 
    <strong> {{ game.fk_team_name }} </strong>
    vs {{ game.opponent }} 
    - {{ game.home_away }}
    - <strong> {{ game.result }} </strong>
    - {{ game.points }}
    - <i>{{ game.comment }}</i>
    - <a href="{{ url_for('delete_game', id=game.id) }}">Delete</a>
    {% if game.included == False %}
    <a href="{{ url_for('include_game', included=True, id=game.id) }}">Not Included</a><br>
    {% else %}
    <a href="{{ url_for('include_game', included=False, id=game.id) }}">Included</a><br>
    {% endif %} 
</p> 
{% endfor %} <br>

<h3> <a href="{{ url_for('add_game') }}">Add another game</a><br> </h3>

{% endblock body %}
