<!DOCTYPE html>
<head>
    <title>Recent Form App</title>
</head>
<body style="background-color:#fff838;">
    <navbar>
        <a href="{{ url_for('index') }}">Homepage</a>
        <a href="{{ url_for('team_info') }}">Team Information</a> | 
        <a href="{{ url_for('add_game') }}">Add Game Entry</a> |
        <a href="{{ url_for('all_entries') }}">All Entries</a> | 
        <a href="{{ url_for('arsenal_entries') }}">Arsenal</a> | 
        <a href="{{ url_for('chelsea_entries') }}">Chelsea</a> | 
        <a href="{{ url_for('liverpool_entries') }}">Liverpool</a> | 
        <a href="{{ url_for('man_city_entries') }}">Manchester City</a> | 
        <a href="{{ url_for('man_utd_entries') }}">Manchester United</a> | 
        <a href="{{ url_for('tottenham_entries') }}">Tottenham</a> | 
        <a href="{{ url_for('included_entries') }}">Included Entries</a> | 
        <a href="{{ url_for('table') }}">Table</a> |
            

    </navbar>
    {% block body %}

    {% endblock body %}
</body>
